/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
:root {
  --color-main: #f1cc9b;
  /* --color-bg: #111111;
  --color-surface: #1a1a1a;
  --color-surface-hover: #242424;

  --color-text: #e8e8e8;
  --color-text-muted: #8f8f8f;

  --color-primary: #c69b5a;
  --color-danger: #b94a48;
  --color-success: #5b8c5a;

  --border-color: #333333;

  --radius-sm: 4px;
  --radius-md: 8px;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px; */
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../public/background_main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}